# Build artifacts
.next/
out/
dist/
build/

# Dependencies
node_modules/
pnpm-store/

# APM
apm_modules/
.apm-cache/

# Env / secrets
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
tsconfig.tsbuildinfo

plan.md